<h1 class="page-header mt-1 mb-2">
  人員總覽
  <%= link_to new_employee_path, class: "btn btn-outline-primary float-xs-right icon-btn" do %>
    <i class="material-icons">add</i>
    登錄人事資料
  <% end %>
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-default">
      <th style="min-width: 120px;">部門</th>
      <th style="min-width: 110px;">職務</th>
      <th style="min-width: 100px;">姓名</th>
      <th>手機</th>
      <th>座機</th>
      <th>分機</th>
      <th></th>
    </thead>
    <tbody class="ajax-trigger-container">
      <%= render @employees %>
    </tbody>
  </table>
</div>

<%= render "common/modal", model_name: "Employee", remote: true %>