<h1 class="page-header mt-1 mb-2">
  登錄人事資料
  <%= link_to upload_employees_path, class: "btn btn-outline-primary float-xs-right icon-btn", data: { toggle: "modal", target: "#uploadEmployees" } do %>
    <i class="material-icons">add</i>
    上傳人事資料
  <% end %>
</h1>

<%= render layout: "common/modal", locals: { modal_id: "uploadEmployees", title: "請選擇人事表", btn: "開始上傳" } do %>
  <% form_tag upload_employees_path, multipart: true do %>
    <% file_field_tag :employee_file %>
  <% end %>
<% end %>

<div class="mx-auto">
  <%= render "form", employee: @employee %>
</div>