<h1 class="page-header mt-1 mb-2">控制台</h1>

<div class="row placeholders">
  <%= link_to items_path do %>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>財產管理</h4>
      <span class="text-muted">點擊進入</span>
    </div>
  <% end %>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>考核管理</h4>
    <span class="text-muted">尚未開放</span>
  </div>
</div>