<h1 class="page-header mt-1 mb-2">控制台</h1>

<div class="row placeholders">
  <%= link_to items_path do %>
    <div class="col-xs-6 col-sm-3 placeholder">
      <%= image_tag "assets-cover2min.jpg" %>
      <h4>財產管理</h4>
    </div>
  <% end %>
  <%= link_to employees_path do %>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
      <h4>人員管理</h4>
    </div>
  <% end %>
</div>