.docks {
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.dock {
  margin: 0px 10px;
  &:first-child {
    margin-left: 0px; 
  }
  &:last-child {
    margin-right: 0px; 
  }
  .dock-title {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
  }
}