.items {
  .item {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    .content {
      hr {
        border-color: #999;
      }
      .title {
        @media (max-width: 768px) {
          margin-top: 1rem;
        }
        font-size: 22px;
        .actions.dropdown {
          .dropdown-toggle {
            color: dodgerblue;
          }
          .dropdown-menu {
            min-width: 100px;
          }
        }
      }
      .properties {
        font-weight: normal;
        line-height: 29px;
        .name {
          font-size: 14px;
          @media (max-width: 992px) {
            font-size: 12px;
          }
        }
        .value {
          white-space: nowrap;
          font-weight: bold;
          font-size: 18px;
          padding-right: 10px;
        }
      }
    }
    .qr-code canvas {
      width: 100%;
    }
  }
}