<ul class="nav nav-sidebar">
  <li class="active">
    <%= link_to items_path do %>
      <i class="material-icons">list</i>
      總覽 <span class="sr-only">(current)</span>
    <% end %>
  </li>
  <li>
    <%= link_to items_path do %>
      <i class="material-icons">show_chart</i>
      報表
    <% end %>
  </li>
  <!-- <li><a href="#">分析</a></li>
  <li><a href="#">數據輸出</a></li> -->
</ul>
<!-- <ul class="nav nav-sidebar">
  <li><a href="">Nav item</a></li>
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li>
  <li><a href="">More navigation</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li>
</ul> -->